<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>小米商城</title>
		<link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.css"/>
		<link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css"/>
	</head>
	<body>
		<!-- 头部 -->
		<div class="header">
			<div class="header1">
				<div class="header1_1">
					<div class="headerwork">
						<a href="" class="btn">你好！{{ username }}</a>
						<a href="/quit/" class="btn">退出登陆</a>
						<a href="/myorder/" class="btn">我的订单</a>
						<a href="/shopcar/" class="btn shopcar">
							<span class="iconfont icon-qicheqianlian-"></span>
							购物车
						</a>
					</div>
				</div>
			</div>
			<div class="header1_2">
				<!-- 图标 -->
				<div class="header-logo">
					
				</div>
				<!-- 导航栏 -->
				<div class="header-nav">
					<a href="/index/" class="nav_a1">商城</a>
					<a href="">小米</a>
					<a href="">华为</a>
					<a href="">苹果</a>
					<a href="">oppo</a>
					<a href="">vivo</a>
					<a href="">其他</a>
				</div>
				<!-- 搜索框 -->
				 <form action="" method="post">
				<div class="header-search">
					<input class="inputsearch" type="" name="phone" id="" value="" placeholder="手机"/>
                    <button style="outline: none" type="submit"class="btnsearch">
							<span class="iconfont icon-search "></span>
					</button>
				</div>
                </form>
			</div>
		</div>
        		<div class="appmodule">
				<div class="appbanner">

				</div>
				<div class="apptitle">
					{{ error }}
				</div>

				<div class="applist">
                    {% for phone in phone_data%}
					<div class="app">
						<a href="/good/?pk={{ phone.pro_id  }}">
							<img class="pic" src="../static/{{ phone.pro_img }}" alt="">
							<p class="name">{{phone.pro_name}}</p>
							<p class="introduction">{{phone.pro_description}}</p>
							<p class="price">{{phone.pro_price}}元</p>
						</a>
					</div>
                    {% endfor %}
				</div>

			</div>
	</body>
</html>
